*{
    margin: 0;
    padding: 0;
        -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
box-sizing: border-box;
}
body{
    background: #45B9E4;
    font-family: 'Arial Narrow Italic', arial;

}
/*header y menù*/
header{
    width: 100%;
}
header nav{
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    background: #ffffff;
}
header nav ul{
    overflow: hidden;
    list-style: none;
}
header nav ul li{
    float: left;
}
header nav ul li a{
    color: #000000;
    padding: 20px;
    display: block;
    text-decoration: none;
}
img{
    float: right;
    padding: 5px;
    display: block;
}
header nav ul li span{
    margin-right: 10px;
}
header nav ul li a:hover{
    background:#2255A4;
    color: #000000;
    text-decoration: none;
}
@media screem and (max-width:20%){
    header nav {
        width: 80px;
        height: 100px;
        margin: 0;
        position: fixed;
    }
    header nav ul li{
        display: block;
        float: none;
       
    }
}
.titulo{
    text-align: center;
    padding: 100px;
}
.contenedor-galeria{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;

}
.galeria__img{
    width: 300px;
    height: 610px;
    margin-bottom: 30px;
    filter: brightness(70%);
    animation: escalar;
    animation-name: escalar;
    animation: escalar 1.5s infinite alternate;
    cursor: pointer;
}
.galery__img{
    height: 525px;
    width: 300px;
    margin-bottom: 30px;
    filter: brightness(70%);
    animation: escalar 1.5s infinite alternate;
    cursor: pointer;
}
@keyframes escalar{
    to {
        transform: scale(1);
    }
    from {
         transform: scale(1.05);
    }
}
.galeria__img:hover {
    filter: brightness(100%);
}
.galery__img:hover{
    filter: brightness(100%);
}
section{
    text-align: center;
}
.info-container{
    width: 100%;
    background: #fff;
    font-family: arial narrow italic;
}
.info-main{
    width: 98%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 30px 200px;
}
.info-main h3{
    color:#000;
    font-size: 40px;
    text-align: center;
    
}
.info-main p{
    padding: 20px 0;
}
.info-main a{
    display: inline-block;
    background: #2255A4;
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
}

footer{
    width: 100%;
    font-family: arial narrow italic;
}

.footer-main{
    width: 98%;
    max-width: 1000px;
    margin: auto;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    font-family: arial narrow italic;
}
.footer-main .footer-columna {
    width: calc(100% /2);
    text-align: justify;
    
}
.footer-main .footer-columna input[type="email"]{
    border: none;
    width: 100%;
    border: 1px solid #2255A4;
    font-size: 14px;
    padding: 10px;
    font-family: arial narrow italic;
}
.footer-main .footer-columna input[type="submit"]{
    border: none;
    background: #2255A4;
    color:#fff;
    padding: 10px 40px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    font-family: arial narrow italic;
}
.footer-main .footer-columna span p{
    margin-left: 5px;
    margin-bottom: 15px;
    font-family: arial narrow italic;
}
.footer-copy-redes{
    width: 100%;
    background: #2255A4;
    border-top: 3px solid #fff;
    color: black;
    
}
.main-copy-redes{
    width: 98%;
    max-width: 1000px;
    padding: 15px 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
        align-items: center;
    align-items: center;
}
.main-copy-redes .footer-copy{
    width: 70%;
    color: #000;
    
    
}
.main-copy-redes .footer-copy{
    width: 30;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.main-copy-redes .footer-copy a{
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-family: arial narrow italic;
}
.main-copy-redes .footer-redes p{
    font-family: arial narrow italic;
    text-decoration: none;
    color: #000;
    
}
.footer-copy-redes .footer-redes a{
    background-color: #000;
}
video{
    padding: 10px;
    border: #2255A4;
}